<H3>Loading libraries and creating spark context</H3>

In [1]:
import os
import sys
import operator

from operator import add

if 'SPARK_HOME' not in os.environ:
    os.environ['SPARK_HOME'] = " C:\Spark\spark-1.6.1-bin-hadoop2.6"
    
sys.path.append("C:\Spark\spark-1.6.1-bin-hadoop2.6/python")
sys.path.append("C:\Spark\spark-1.6.1-bin-hadoop2.6/python/build")
sys.path.append("C:\Spark\spark-1.6.1-bin-hadoop2.6\python\pyspark")
sys.path.append("C:\Spark\spark-1.6.1-bin-hadoop2.6\python \lib\py4j-0.9-src.zip")
sys.path.append("C:\Spark\spark-1.6.0-bin-hadoop2.4\python\lib\pyspark.zip")
sys.path.append("C:\Spark\spark-1.6.0-bin-hadoop2.4\python\lib")

import pyspark

sc = pyspark.SparkContext('local')

<H3>Creating SQL Context</H3>

In [2]:
from pyspark.sql import Row
from pyspark import SQLContext
sqlContext = SQLContext(sc)

<H3>Verfiy that spark is working. If it isn't working, this will throw an assertion error</H3>

In [3]:
data = [('Alice', 1), ('Bob', 2), ('Bill', 4)]
df = sqlContext.createDataFrame(data, ['name', 'age'])
fil = df.filter(df.age > 3).collect()
print fil
assert fil == [Row(u'Bill', 4)]

[Row(name=u'Bill', age=4)]

<H3>Let's load a text file</H3>
<H4>The text file contains the [Complete Works of William Shakespeare](http://www.gutenberg.org/ebooks/100) retrieved from [Project Gutenberg](http://www.gutenberg.org/wiki/Main_Page).</H4>

In [4]:
import os.path
baseDir = os.path.join('Datasets')
inputPath = os.path.join('pg100.txt')
fileName = os.path.join(baseDir, inputPath)

<H3>Count the number of words in the text file</H3>

In [5]:
dataDF = sqlContext.read.text(fileName)
shakespeareCount = dataDF.count()
print shakespeareCount

124787

<H3>Let's check the attributes of sqlContext</H3>

In [6]:
dir(sqlContext)

['__class__',
 '__delattr__',
 '__dict__',
 '__doc__',
 '__format__',
 '__getattribute__',
 '__hash__',
 '__init__',
 '__module__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_createFromLocal',
 '_createFromRDD',
 '_inferSchema',
 '_inferSchemaFromList',
 '_instantiatedContext',
 '_jsc',
 '_jvm',
 '_sc',
 '_scala_SQLContext',
 '_ssql_ctx',
 'applySchema',
 'cacheTable',
 'clearCache',
 'createDataFrame',
 'createExternalTable',
 'dropTempTable',
 'getConf',
 'getOrCreate',
 'inferSchema',
 'jsonFile',
 'jsonRDD',
 'load',
 'newSession',
 'parquetFile',
 'range',
 'read',
 'registerDataFrameAsTable',
 'registerFunction',
 'setConf',
 'sql',
 'table',
 'tableNames',
 'tables',
 'udf',
 'uncacheTable']

<H3>Use sc.version to see what version of Spark we are running</H3>

In [7]:
sc.version

u'1.6.1'

<H2>Working with your first DataFrames</H2>
<H4>In Spark, we first create a base DataFrame. We can then apply one or more transformations to that base DataFrame. A DataFrame is immutable, so once it is created, it cannot be changed. As a result, each transformation creates a new DataFrame. Finally, we can apply one or more actions to the DataFrames. Note that Spark uses lazy evaluation, so transformations are not actually executed until an action occurs.</H4>

<H3>We will use the fake-factory python library to create a collection of fake person records.</H3>

In [8]:
from faker import Factory
fake = Factory.create()
fake.seed(4321)

<H3>We're going to use this factory to create a collection of randomly generated people records.</H3> 
<H3>In the next section, we'll turn that collection into a DataFrame. We'll use the Spark Row class, because that will help us define the Spark DataFrame schema.</H3>

In [9]:
from pyspark.sql import Row
def fake_entry():
    name = fake.name().split()
    return Row(name[1], name[0], fake.ssn(), fake.job(), abs(2016 - fake.date_time().year) + 1)

In [10]:
def repeat(times, func, *args, **kwargs):
    for _ in xrange(times):
        yield func(*args, **kwargs)

In [11]:
data = list(repeat(10000, fake_entry))

<H3>The object 'data' is just a normal Python list, containing Spark SQL Row objects. Let's look at the first item in the list:</H3>

In [12]:
data[0][0], data[0][1], data[0][2], data[0][3], data[0][4]

(u'Harvey', u'Tracey', u'160-37-9051', 'Agricultural engineer', 39)

In [13]:
len(data)

10000

<H3>Let's create a dataframe</H3>

In [14]:
dataDF = sqlContext.createDataFrame(data, ('last_name', 'first_name', 'ssn', 'occupation', 'age'))

In [15]:
print 'type of dataDF: {0}'.format(type(dataDF))

type of dataDF: <class 'pyspark.sql.dataframe.DataFrame'>

<H3>Let's take a look at the DataFrame's schema</H3>

In [16]:
dataDF.printSchema()

root
 |-- last_name: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- ssn: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- age: long (nullable = true)

<H3>Let's register the newly created DataFrame as a named table, using the registerDataFrameAsTable() method.</H3>

In [17]:
sqlContext.registerDataFrameAsTable(dataDF, 'dataframe')

In [18]:
help(dataDF)

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(__builtin__.object)
 |  A distributed collection of data grouped into named columns.
 |
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SQLContext`::
 |
 |      people = sqlContext.read.parquet("...")
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the data frame, use the apply method::
 |
 |      ageCol = people.age
 |
 |  A more concrete example::
 |
 |      # To create DataFrame using SQLContext
 |      people = sqlContext.read.parquet("...")
 |      department = sqlContext.read.parquet("...")
 |
 |      people.filter(people.age > 30).join(department, people.deptId == department.id))           .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
 |
 |  .. note:: Experimental
 |
 |  .. versionadded:: 1.3
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name)
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      >>> df.select(df.age).collect()
 |      [Row(age=2), Row(age=5)]
 |
 |      .. versionadded:: 1.3
 |
 |  __getitem__(self, item)
 |      Returns the column as a :class:`Column`.
 |
 |      >>> df.select(df['age']).collect()
 |      [Row(age=2), Row(age=5)]
 |      >>> df[ ["name", "age"]].collect()
 |      [Row(name=u'Alice', age=2), Row(name=u'Bob', age=5)]
 |      >>> df[ df.age > 3 ].collect()
 |      [Row(age=5, name=u'Bob')]
 |      >>> df[df[0] > 3].collect()
 |      [Row(age=5, name=u'Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  __init__(self, jdf, sql_ctx)
 |
 |  __repr__(self)
 |
 |  agg(self, *exprs)
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy.agg()``).
 |
 |      >>> df.agg({"age": "max"}).collect()
 |      [Row(max(age)=5)]
 |      >>> from pyspark.sql import functions as F
 |      >>> df.agg(F.min(df.age)).collect()
 |      [Row(min(age)=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  alias(self, alias)
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      >>> from pyspark.sql.functions import *
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select(col("df_as1.name"), col("df_as2.name"), col("df_as2.age")).collect()
 |      [Row(name=u'Alice', name=u'Alice', age=2), Row(name=u'Bob', name=u'Bob', age=5)]
 |
 |      .. versionadded:: 1.3
 |
 |  cache(self)
 |      Persists with the default storage level (C{MEMORY_ONLY_SER}).
 |
 |      .. versionadded:: 1.3
 |
 |  coalesce(self, numPartitions)
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions.
 |
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |      .. versionadded:: 1.4
 |
 |  collect(self)
 |      Returns all the records as a list of :class:`Row`.
 |
 |      >>> df.collect()
 |      [Row(age=2, name=u'Alice'), Row(age=5, name=u'Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  corr(self, col1, col2, method=None)
 |      Calculates the correlation of two columns of a DataFrame as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |      :param method: The correlation method. Currently only supports "pearson"
 |
 |      .. versionadded:: 1.4
 |
 |  count(self)
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      >>> df.count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  cov(self, col1, col2)
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |
 |      .. versionadded:: 1.4
 |
 |  crosstab(self, col1, col2)
 |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
 |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
 |      non-zero pair frequencies will be returned.
 |      The first column of each row will be the distinct values of `col1` and the column names
 |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
 |      Pairs that have no occurrences will have zero as their counts.
 |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
 |
 |      :param col1: The name of the first column. Distinct items will make the first item of
 |          each row.
 |      :param col2: The name of the second column. Distinct items will make the column names
 |          of the DataFrame.
 |
 |      .. versionadded:: 1.4
 |
 |  cube(self, *cols)
 |      Create a multi-dimensional cube for the current :class:`DataFrame` using
 |      the specified columns, so we can run aggregation on them.
 |
 |      >>> df.cube('name', df.age).count().show()
 |      +-----+----+-----+
 |      | name| age|count|
 |      +-----+----+-----+
 |      | null|   2|    1|
 |      |Alice|null|    1|
 |      |  Bob|   5|    1|
 |      |  Bob|null|    1|
 |      | null|   5|    1|
 |      | null|null|    2|
 |      |Alice|   2|    1|
 |      +-----+----+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  describe(self, *cols)
 |      Computes statistics for numeric columns.
 |
 |      This include count, mean, stddev, min, and max. If no columns are
 |      given, this function computes statistics for all numerical columns.
 |
 |      .. note:: This function is meant for exploratory data analysis, as we make no         guarantee about the backward compatibility of the schema of the resulting DataFrame.
 |
 |      >>> df.describe().show()
 |      +-------+------------------+
 |      |summary|               age|
 |      +-------+------------------+
 |      |  count|                 2|
 |      |   mean|               3.5|
 |      | stddev|2.1213203435596424|
 |      |    min|                 2|
 |      |    max|                 5|
 |      +-------+------------------+
 |      >>> df.describe(['age', 'name']).show()
 |      +-------+------------------+-----+
 |      |summary|               age| name|
 |      +-------+------------------+-----+
 |      |  count|                 2|    2|
 |      |   mean|               3.5| null|
 |      | stddev|2.1213203435596424| null|
 |      |    min|                 2|Alice|
 |      |    max|                 5|  Bob|
 |      +-------+------------------+-----+
 |
 |      .. versionadded:: 1.3.1
 |
 |  distinct(self)
 |      Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.
 |
 |      >>> df.distinct().count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  drop(self, col)
 |      Returns a new :class:`DataFrame` that drops the specified column.
 |
 |      :param col: a string name of the column to drop, or a
 |          :class:`Column` to drop.
 |
 |      >>> df.drop('age').collect()
 |      [Row(name=u'Alice'), Row(name=u'Bob')]
 |
 |      >>> df.drop(df.age).collect()
 |      [Row(name=u'Alice'), Row(name=u'Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df.name).collect()
 |      [Row(age=5, height=85, name=u'Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
 |      [Row(age=5, name=u'Bob', height=85)]
 |
 |      .. versionadded:: 1.4
 |
 |  dropDuplicates(self, subset=None)
 |      Return a new :class:`DataFrame` with duplicate rows removed,
 |      optionally only considering certain columns.
 |
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      >>> from pyspark.sql import Row
 |      >>> df = sc.parallelize([             Row(name='Alice', age=5, height=80),             Row(name='Alice', age=5, height=80),             Row(name='Alice', age=10, height=80)]).toDF()
 |      >>> df.dropDuplicates().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      >>> df.dropDuplicates(['name', 'height']).show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  drop_duplicates = dropDuplicates(self, subset=None)
 |
 |  dropna(self, how='any', thresh=None, subset=None)
 |      Returns a new :class:`DataFrame` omitting rows with null values.
 |      :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.
 |
 |      :param how: 'any' or 'all'.
 |          If 'any', drop a row if it contains any nulls.
 |          If 'all', drop a row only if all its values are null.
 |      :param thresh: int, default None
 |          If specified, drop rows that have less than `thresh` non-null values.
 |          This overwrites the `how` parameter.
 |      :param subset: optional list of column names to consider.
 |
 |      >>> df4.na.drop().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.3.1
 |
 |  explain(self, extended=False)
 |      Prints the (logical and physical) plans to the console for debugging purpose.
 |
 |      :param extended: boolean, default ``False``. If ``False``, prints only the physical plan.
 |
 |      >>> df.explain()
 |      == Physical Plan ==
 |      Scan ExistingRDD[age#0,name#1]
 |
 |      >>> df.explain(True)
 |      == Parsed Logical Plan ==
 |      ...
 |      == Analyzed Logical Plan ==
 |      ...
 |      == Optimized Logical Plan ==
 |      ...
 |      == Physical Plan ==
 |      ...
 |
 |      .. versionadded:: 1.3
 |
 |  fillna(self, value, subset=None)
 |      Replace null values, alias for ``na.fill()``.
 |      :func:`DataFrame.fillna` and :func:`DataFrameNaFunctions.fill` are aliases of each other.
 |
 |      :param value: int, long, float, string, or dict.
 |          Value to replace null values with.
 |          If the value is a dict, then `subset` is ignored and `value` must be a mapping
 |          from column name (string) to replacement value. The replacement value must be
 |          an int, long, float, or string.
 |      :param subset: optional list of column names to consider.
 |          Columns specified in subset that do not have matching data type are ignored.
 |          For example, if `value` is a string, and subset contains a non-string column,
 |          then the non-string column is simply ignored.
 |
 |      >>> df4.na.fill(50).show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      |  5|    50|  Bob|
 |      | 50|    50|  Tom|
 |      | 50|    50| null|
 |      +---+------+-----+
 |
 |      >>> df4.na.fill({'age': 50, 'name': 'unknown'}).show()
 |      +---+------+-------+
 |      |age|height|   name|
 |      +---+------+-------+
 |      | 10|    80|  Alice|
 |      |  5|  null|    Bob|
 |      | 50|  null|    Tom|
 |      | 50|  null|unknown|
 |      +---+------+-------+
 |
 |      .. versionadded:: 1.3.1
 |
 |  filter(self, condition)
 |      Filters rows using the given condition.
 |
 |      :func:`where` is an alias for :func:`filter`.
 |
 |      :param condition: a :class:`Column` of :class:`types.BooleanType`
 |          or a string of SQL expression.
 |
 |      >>> df.filter(df.age > 3).collect()
 |      [Row(age=5, name=u'Bob')]
 |      >>> df.where(df.age == 2).collect()
 |      [Row(age=2, name=u'Alice')]
 |
 |      >>> df.filter("age > 3").collect()
 |      [Row(age=5, name=u'Bob')]
 |      >>> df.where("age = 2").collect()
 |      [Row(age=2, name=u'Alice')]
 |
 |      .. versionadded:: 1.3
 |
 |  first(self)
 |      Returns the first row as a :class:`Row`.
 |
 |      >>> df.first()
 |      Row(age=2, name=u'Alice')
 |
 |      .. versionadded:: 1.3
 |
 |  flatMap(self, f)
 |      Returns a new :class:`RDD` by first applying the ``f`` function to each :class:`Row`,
 |      and then flattening the results.
 |
 |      This is a shorthand for ``df.rdd.flatMap()``.
 |
 |      >>> df.flatMap(lambda p: p.name).collect()
 |      [u'A', u'l', u'i', u'c', u'e', u'B', u'o', u'b']
 |
 |      .. versionadded:: 1.3
 |
 |  foreach(self, f)
 |      Applies the ``f`` function to all :class:`Row` of this :class:`DataFrame`.
 |
 |      This is a shorthand for ``df.rdd.foreach()``.
 |
 |      >>> def f(person):
 |      ...     print(person.name)
 |      >>> df.foreach(f)
 |
 |      .. versionadded:: 1.3
 |
 |  foreachPartition(self, f)
 |      Applies the ``f`` function to each partition of this :class:`DataFrame`.
 |
 |      This a shorthand for ``df.rdd.foreachPartition()``.
 |
 |      >>> def f(people):
 |      ...     for person in people:
 |      ...         print(person.name)
 |      >>> df.foreachPartition(f)
 |
 |      .. versionadded:: 1.3
 |
 |  freqItems(self, cols, support=None)
 |      Finding frequent items for columns, possibly with false positives. Using the
 |      frequent element count algorithm described in
 |      "http://dx.doi.org/10.1145/762471.762473, proposed by Karp, Schenker, and Papadimitriou".
 |      :func:`DataFrame.freqItems` and :func:`DataFrameStatFunctions.freqItems` are aliases.
 |
 |      .. note::  This function is meant for exploratory data analysis, as we make no         guarantee about the backward compatibility of the schema of the resulting DataFrame.
 |
 |      :param cols: Names of the columns to calculate frequent items for as a list or tuple of
 |          strings.
 |      :param support: The frequency with which to consider an item 'frequent'. Default is 1%.
 |          The support must be greater than 1e-4.
 |
 |      .. versionadded:: 1.4
 |
 |  groupBy(self, *cols)
 |      Groups the :class:`DataFrame` using the specified columns,
 |      so we can run aggregation on them. See :class:`GroupedData`
 |      for all the available aggregate functions.
 |
 |      :func:`groupby` is an alias for :func:`groupBy`.
 |
 |      :param cols: list of columns to group by.
 |          Each element should be a column name (string) or an expression (:class:`Column`).
 |
 |      >>> df.groupBy().avg().collect()
 |      [Row(avg(age)=3.5)]
 |      >>> df.groupBy('name').agg({'age': 'mean'}).collect()
 |      [Row(name=u'Alice', avg(age)=2.0), Row(name=u'Bob', avg(age)=5.0)]
 |      >>> df.groupBy(df.name).avg().collect()
 |      [Row(name=u'Alice', avg(age)=2.0), Row(name=u'Bob', avg(age)=5.0)]
 |      >>> df.groupBy(['name', df.age]).count().collect()
 |      [Row(name=u'Bob', age=5, count=1), Row(name=u'Alice', age=2, count=1)]
 |
 |      .. versionadded:: 1.3
 |
 |  groupby = groupBy(self, *cols)
 |
 |  head(self, n=None)
 |      Returns the first ``n`` rows.
 |
 |      :param n: int, default 1. Number of rows to return.
 |      :return: If n is greater than 1, return a list of :class:`Row`.
 |          If n is 1, return a single Row.
 |
 |      >>> df.head()
 |      Row(age=2, name=u'Alice')
 |      >>> df.head(1)
 |      [Row(age=2, name=u'Alice')]
 |
 |      .. versionadded:: 1.3
 |
 |  insertInto(self, tableName, overwrite=False)
 |      Inserts the contents of this :class:`DataFrame` into the specified table.
 |
 |      .. note:: Deprecated in 1.4, use :func:`DataFrameWriter.insertInto` instead.
 |
 |  intersect(self, other)
 |      Return a new :class:`DataFrame` containing rows only in
 |      both this frame and another frame.
 |
 |      This is equivalent to `INTERSECT` in SQL.
 |
 |      .. versionadded:: 1.3
 |
 |  isLocal(self)
 |      Returns ``True`` if the :func:`collect` and :func:`take` methods can be run locally
 |      (without any Spark executors).
 |
 |      .. versionadded:: 1.3
 |
 |  join(self, other, on=None, how=None)
 |      Joins with another :class:`DataFrame`, using the given join expression.
 |
 |      The following performs a full outer join between ``df1`` and ``df2``.
 |
 |      :param other: Right side of the join
 |      :param on: a string for join column name, a list of column names,
 |          , a join expression (Column) or a list of Columns.
 |          If `on` is a string or a list of string indicating the name of the join column(s),
 |          the column(s) must exist on both sides, and this performs an equi-join.
 |      :param how: str, default 'inner'.
 |          One of `inner`, `outer`, `left_outer`, `right_outer`, `leftsemi`.
 |
 |      >>> df.join(df2, df.name == df2.name, 'outer').select(df.name, df2.height).collect()
 |      [Row(name=None, height=80), Row(name=u'Alice', height=None), Row(name=u'Bob', height=85)]
 |
 |      >>> df.join(df2, 'name', 'outer').select('name', 'height').collect()
 |      [Row(name=u'Tom', height=80), Row(name=u'Alice', height=None), Row(name=u'Bob', height=85)]
 |
 |      >>> cond = [df.name == df3.name, df.age == df3.age]
 |      >>> df.join(df3, cond, 'outer').select(df.name, df3.age).collect()
 |      [Row(name=u'Bob', age=5), Row(name=u'Alice', age=2)]
 |
 |      >>> df.join(df2, 'name').select(df.name, df2.height).collect()
 |      [Row(name=u'Bob', height=85)]
 |
 |      >>> df.join(df4, ['name', 'age']).select(df.name, df.age).collect()
 |      [Row(name=u'Bob', age=5)]
 |
 |      .. versionadded:: 1.3
 |
 |  limit(self, num)
 |      Limits the result count to the number specified.
 |
 |      >>> df.limit(1).collect()
 |      [Row(age=2, name=u'Alice')]
 |      >>> df.limit(0).collect()
 |      []
 |
 |      .. versionadded:: 1.3
 |
 |  map(self, f)
 |      Returns a new :class:`RDD` by applying a the ``f`` function to each :class:`Row`.
 |
 |      This is a shorthand for ``df.rdd.map()``.
 |
 |      >>> df.map(lambda p: p.name).collect()
 |      [u'Alice', u'Bob']
 |
 |      .. versionadded:: 1.3
 |
 |  mapPartitions(self, f, preservesPartitioning=False)
 |      Returns a new :class:`RDD` by applying the ``f`` function to each partition.
 |
 |      This is a shorthand for ``df.rdd.mapPartitions()``.
 |
 |      >>> rdd = sc.parallelize([1, 2, 3, 4], 4)
 |      >>> def f(iterator): yield 1
 |      >>> rdd.mapPartitions(f).sum()
 |      4
 |
 |      .. versionadded:: 1.3
 |
 |  orderBy = sort(self, *cols, **kwargs)
 |
 |  persist(self, storageLevel=StorageLevel(False, True, False, False, 1))
 |      Sets the storage level to persist its values across operations
 |      after the first time it is computed. This can only be used to assign
 |      a new storage level if the RDD does not have a storage level set yet.
 |      If no storage level is specified defaults to (C{MEMORY_ONLY_SER}).
 |
 |      .. versionadded:: 1.3
 |
 |  printSchema(self)
 |      Prints out the schema in the tree format.
 |
 |      >>> df.printSchema()
 |      root
 |       |-- age: integer (nullable = true)
 |       |-- name: string (nullable = true)
 |      <BLANKLINE>
 |
 |      .. versionadded:: 1.3
 |
 |  randomSplit(self, weights, seed=None)
 |      Randomly splits this :class:`DataFrame` with the provided weights.
 |
 |      :param weights: list of doubles as weights with which to split the DataFrame. Weights will
 |          be normalized if they don't sum up to 1.0.
 |      :param seed: The seed for sampling.
 |
 |      >>> splits = df4.randomSplit([1.0, 2.0], 24)

<H3>How many partitions will the DataFrame be split into?</H3>

In [19]:
dataDF.rdd.getNumPartitions()

1

<H3>Let's add a couple transformations to our DataFrame and look at the query plan on the resulting transformed DataFrame. </H3>

In [20]:
newDF = dataDF.distinct().select('*')
newDF.explain(True)

== Parsed Logical Plan ==
'Project [*]
+- Aggregate [last_name#7,first_name#8,ssn#9,occupation#10,age#11L], [last_name#7,first_name#8,ssn#9,occupation#10,age#11L]
   +- LogicalRDD [last_name#7,first_name#8,ssn#9,occupation#10,age#11L], MapPartitionsRDD[19] at applySchemaToPythonRDD at NativeMethodAccessorImpl.java:-2

== Analyzed Logical Plan ==
last_name: string, first_name: string, ssn: string, occupation: string, age: bigint
Project [last_name#7,first_name#8,ssn#9,occupation#10,age#11L]
+- Aggregate [last_name#7,first_name#8,ssn#9,occupation#10,age#11L], [last_name#7,first_name#8,ssn#9,occupation#10,age#11L]
   +- LogicalRDD [last_name#7,first_name#8,ssn#9,occupation#10,age#11L], MapPartitionsRDD[19] at applySchemaToPythonRDD at NativeMethodAccessorImpl.java:-2

== Optimized Logical Plan ==
Aggregate [last_name#7,first_name#8,ssn#9,occupation#10,age#11L], [last_name#7,first_name#8,ssn#9,occupation#10,age#11L]
+- LogicalRDD [last_name#7,first_name#8,ssn#9,occupation#10,age#11L], MapPartitionsRDD[19] at applySchemaToPythonRDD at NativeMethodAccessorImpl.java:-2

== Physical Plan ==
TungstenAggregate(key=[last_name#7,first_name#8,ssn#9,occupation#10,age#11L], functions=[], output=[last_name#7,first_name#8,ssn#9,occupation#10,age#11L])
+- TungstenExchange hashpartitioning(last_name#7,first_name#8,ssn#9,occupation#10,age#11L,200), None
   +- TungstenAggregate(key=[last_name#7,first_name#8,ssn#9,occupation#10,age#11L], functions=[], output=[last_name#7,first_name#8,ssn#9,occupation#10,age#11L])
      +- Scan ExistingRDD[last_name#7,first_name#8,ssn#9,occupation#10,age#11L]

<H3>Subtract one from each value using select</H3>

In [21]:
subDF = dataDF.select('last_name', 'first_name', 'ssn', 'occupation', (dataDF.age - 1).alias('age'))

<H3>Let's take a look at the query plan.</H3>

In [22]:
subDF.explain(True)

== Parsed Logical Plan ==
'Project [unresolvedalias('last_name),unresolvedalias('first_name),unresolvedalias('ssn),unresolvedalias('occupation),(age#11L - 1) AS age#12]
+- LogicalRDD [last_name#7,first_name#8,ssn#9,occupation#10,age#11L], MapPartitionsRDD[19] at applySchemaToPythonRDD at NativeMethodAccessorImpl.java:-2

== Analyzed Logical Plan ==
last_name: string, first_name: string, ssn: string, occupation: string, age: bigint
Project [last_name#7,first_name#8,ssn#9,occupation#10,(age#11L - cast(1 as bigint)) AS age#12L]
+- LogicalRDD [last_name#7,first_name#8,ssn#9,occupation#10,age#11L], MapPartitionsRDD[19] at applySchemaToPythonRDD at NativeMethodAccessorImpl.java:-2

== Optimized Logical Plan ==
Project [last_name#7,first_name#8,ssn#9,occupation#10,(age#11L - 1) AS age#12L]
+- LogicalRDD [last_name#7,first_name#8,ssn#9,occupation#10,age#11L], MapPartitionsRDD[19] at applySchemaToPythonRDD at NativeMethodAccessorImpl.java:-2

== Physical Plan ==
Project [last_name#7,first_name#8,ssn#9,occupation#10,(age#11L - 1) AS age#12L]
+- Scan ExistingRDD[last_name#7,first_name#8,ssn#9,occupation#10,age#11L]

<H3>Use collect to view results</H3>

In [23]:
results = subDF.collect()
print results

[Row(last_name=u'Harvey', first_name=u'Tracey', ssn=u'160-37-9051', occupation=u'Agricultural engineer', age=38), Row(last_name=u'Green', first_name=u'Isabel', ssn=u'361-94-4342', occupation=u'Teacher, primary school', age=26), Row(last_name=u'Lewis', first_name=u'Tammy', ssn=u'769-27-5887', occupation=u'Scientific laboratory technician', age=20), Row(last_name=u'Cunningham', first_name=u'Kathleen', ssn=u'175-24-7915', occupation=u'Geophysicist/field seismologist', age=41), Row(last_name=u'Marquez', first_name=u'Jorge', ssn=u'310-69-7326', occupation=u'Forensic psychologist', age=25), Row(last_name=u'Summers', first_name=u'Beth', ssn=u'099-90-9730', occupation=u'Best boy', age=42), Row(last_name=u'Jessica', first_name=u'Mrs.', ssn=u'476-06-5497', occupation=u'English as a foreign language teacher', age=42), Row(last_name=u'Turner', first_name=u'Diana', ssn=u'722-09-8354', occupation=u'Psychologist, prison and probation services', age=6), Row(last_name=u'Johnson', first_name=u'David', ssn=u'715-56-1708', occupation=u'Sales executive', age=5), Row(last_name=u'Lewis', first_name=u'Melissa', ssn=u'123-48-8354', occupation=u'Engineer, broadcasting (operations)', age=16), Row(last_name=u'Hernandez', first_name=u'Benjamin', ssn=u'293-22-0265', occupation=u'Scientist, product/process development', age=28), Row(last_name=u'Dixon', first_name=u'Stephanie', ssn=u'041-23-3263', occupation=u'Building control surveyor', age=23), Row(last_name=u'Kim', first_name=u'Leah', ssn=u'725-61-1132', occupation=u'Artist', age=42), Row(last_name=u'Snyder', first_name=u'Leslie', ssn=u'268-79-4330', occupation=u'Chiropractor', age=14), Row(last_name=u'Ortega', first_name=u'Joseph', ssn=u'077-96-8349', occupation=u'Surveyor, minerals', age=15), Row(last_name=u'Barnes', first_name=u'Brian', ssn=u'061-88-1648', occupation=u'Production assistant, television', age=32), Row(last_name=u'Adams', first_name=u'Eric', ssn=u'582-28-0099', occupation=u'Manufacturing systems engineer', age=11), Row(last_name=u'Andrade', first_name=u'Briana', ssn=u'386-07-6013', occupation=u'Social research officer, government', age=6), Row(last_name=u'Weeks', first_name=u'Catherine', ssn=u'363-94-7993', occupation=u'Administrator, education', age=41), Row(last_name=u'Tapia', first_name=u'Michael', ssn=u'386-39-5490', occupation=u'Horticulturist, commercial', age=10), Row(last_name=u'Arnold', first_name=u'Heather', ssn=u'737-44-0894', occupation=u'Economist', age=7), Row(last_name=u'Bird', first_name=u'Curtis', ssn=u'790-03-8999', occupation=u'Psychotherapist', age=26), Row(last_name=u'Delgado', first_name=u'Megan', ssn=u'789-24-6522', occupation=u'Therapist, drama', age=33), Row(last_name=u'Rojas', first_name=u'Thomas', ssn=u'702-94-4924', occupation=u'Press sub', age=39), Row(last_name=u'Love', first_name=u'George', ssn=u'117-61-4564', occupation=u'Music tutor', age=14), Row(last_name=u'Gardner', first_name=u'Charles', ssn=u'695-93-4517', occupation=u'Conference centre manager', age=34), Row(last_name=u'Walker', first_name=u'Danielle', ssn=u'164-14-5236', occupation=u'Scientist, water quality', age=41), Row(last_name=u'Dunn', first_name=u'Joshua', ssn=u'452-74-5757', occupation=u'Clinical embryologist', age=13), Row(last_name=u'Scott', first_name=u'Jeremy', ssn=u'669-41-6318', occupation=u'Surveyor, insurance', age=30), Row(last_name=u'James', first_name=u'Max', ssn=u'890-73-1947', occupation=u'Hotel manager', age=18), Row(last_name=u'Todd', first_name=u'Cody', ssn=u'292-28-5631', occupation=u'Biomedical scientist', age=45), Row(last_name=u'Haas', first_name=u'Kimberly', ssn=u'757-69-2225', occupation=u'Engineer, communications', age=17), Row(last_name=u'Vasquez', first_name=u'Lisa', ssn=u'155-76-0838', occupation=u'Estate manager/land agent', age=45), Row(last_name=u'West', first_name=u'Donna', ssn=u'156-67-2394', occupation=u'Sport and exercise psychologist', age=28), Row(last_name=u'Chapman', first_name=u'Chelsea', ssn=u'667-49-0913', occupation=u'Television production assistant', age=27), Row(last_name=u'Hill', first_name=u'Steven', ssn=u'194-77-5984', occupation=u'Accountant, chartered', age=29), Row(last_name=u'Beck', first_name=u'Bryan', ssn=u'665-91-5669', occupation=u'Production engineer', age=10), Row(last_name=u'Troy', first_name=u'Mr.', ssn=u'363-83-5358', occupation=u'Hotel manager', age=8), Row(last_name=u'Houston', first_name=u'Jose', ssn=u'384-60-4672', occupation=u'Drilling engineer', age=43), Row(last_name=u'Smith', first_name=u'Patrick', ssn=u'025-39-2755', occupation=u'Financial trader', age=38), Row(last_name=u'Powell', first_name=u'Kenneth', ssn=u'266-22-3606', occupation=u'Human resources officer', age=25), Row(last_name=u'Nicole', first_name=u'Miss', ssn=u'588-33-0595', occupation=u'Furniture designer', age=22), Row(last_name=u'Kelly', first_name=u'Tracy', ssn=u'082-13-6448', occupation=u'Architectural technologist', age=8), Row(last_name=u'Pacheco', first_name=u'Andrea', ssn=u'345-72-1769', occupation=u'Chartered loss adjuster', age=39), Row(last_name=u'Harris', first_name=u'Andrew', ssn=u'630-90-7756', occupation=u'Pharmacologist', age=45), Row(last_name=u'Jones', first_name=u'Michelle', ssn=u'412-91-9340', occupation=u'Engineer, drilling', age=1), Row(last_name=u'Davis', first_name=u'Michael', ssn=u'720-16-0272', occupation=u'Energy engineer', age=36), Row(last_name=u'Collins', first_name=u'Savannah', ssn=u'206-54-3941', occupation=u'Statistician', age=23), Row(last_name=u'Miller', first_name=u'Tonya', ssn=u'039-54-6496', occupation=u'Therapist, nutritional', age=41), Row(last_name=u'Hernandez', first_name=u'Steven', ssn=u'237-01-0002', occupation=u'Runner, broadcasting/film/video', age=27), Row(last_name=u'Stephens', first_name=u'Dominic', ssn=u'213-41-7568', occupation=u'Pharmacist, community', age=24), Row(last_name=u'Soto', first_name=u'Ryan', ssn=u'204-20-5184', occupation=u'Financial adviser', age=37), Row(last_name=u'Mack', first_name=u'Michelle', ssn=u'478-23-6948', occupation=u'Hydrologist', age=25), Row(last_name=u'Salas', first_name=u'Elizabeth', ssn=u'376-51-7310', occupation=u'Designer, ceramics/pottery', age=20), Row(last_name=u'Bishop', first_name=u'Jason', ssn=u'177-27-6682', occupation=u'Industrial/product designer', age=35), Row(last_name=u'Marshall', first_name=u'Jim', ssn=u'319-20-7301', occupation=u'Administrator, sports', age=38), Row(last_name=u'Mcmahon', first_name=u'Sharon', ssn=u'891-54-3734', occupation=u'Production engineer', age=15), Row(last_name=u'Mooney', first_name=u'Patricia', ssn=u'546-44-5346', occupation=u'Database administrator', age=42), Row(last_name=u'Alexandria', first_name=u'Mrs.', ssn=u'441-78-1498', occupation=u'Programmer, applications', age=13), Row(last_name=u'Church', first_name=u'David', ssn=u'370-59-5122', occupation=u'Museum education officer', age=6), Row(last_name=u'Holmes', first_name=u'Cynthia', ssn=u'270-23-4295', occupation=u'Therapist, horticultural', age=29), Row(last_name=u'Olson', first_name=u'Melissa', ssn=u'209-27-9609', occupation=u'Surveyor, hydrographic', age=1), Row(last_name=u'Buck', first_name=u'Craig', ssn=u'227-70-6222', occupation=u'Engineer, materials', age=22), Row(last_name=u'Mueller', first_name=u'Amanda', ssn=u'033-74-1619', occupation=u'Administrator, Civil Service', age=13), Row(last_name=u'Anderson', first_name=u'Kenneth', ssn=u'791-64-0423', occupation=u'Press photographer', age=11), Row(last_name=u'Wallace', first_name=u'Kristen', ssn=u'168-28-6786', occupation=u'Training and development officer', age=33), Row(last_name=u'Duncan', first_name=u'Anthony', ssn=u'449-99-1004', occupation=u'Administrator, charities/voluntary organisations', age=36), Row(last_name=u'Jones', first_name=u'Anne', ssn=u'824-64-4586', occupation=u'Operational researcher', age=3), Row(last_name=u'Garza', first_name=u'Jason', ssn=u'508-92-5295', occupation=u'Furniture conservator/restorer', age=11), Row(last_name=u'Gonzales', first_name=u'Sarah', ssn=u'318-29-4528', occupation=u'Estate manager/land agent', age=22), Row(last_name=u'Harris', first_name=u'Carla', ssn=u'097-46-3461', occupation=u'Higher education careers adviser', age=5), Row(last_name=u'John', first_name=u'Mr.', ssn=u'608-29-4426', occupation=u'Armed forces technical officer', age=13), Row(last_name=u'Doyle', first_name=u'Thomas', ssn=u'739-33-9458', occupation=u'Theatre stage manager', age=27), Row(last_name=u'Wyatt', first_name=u'Alicia', ssn=u'188-35-0575', occupation=u'Structural engineer', age=3), Row(last_name=u'Reynolds', first_name=u'Katherine', ssn=u'612-26-5209', occupation=u'Minerals surveyor', age=43), Row(last_name=u'Anderson', first_name=u'Carrie', ssn=u'394-86-0997', occupation=u'Engineer, chemical', age=37), Row(last_name=u'Robinson', first_name=u'Tiffany', ssn=u'159-89-8821', occupation=u'Paediatric nurse', age=32), Row(last_name=u'Hansen', first_name=u'Robert', ssn=u'773-10-5048', occupation=u'Music therapist', age=10), Row(last_name=u'Hammond', first_name=u'Jeremy', ssn=u'698-02-1905', occupation=u'Textile designer', age=44), Row(last_name=u'Norris', first_name=u'Zachary', ssn=u'690-04-3697', occupation=u'Pharmacologist', age=13), Row(last_name=u'Pena', first_name=u'Morgan', ssn=u'361-09-0070', occupation=u'Customer service manager', age=32), Row(last_name=u'Carter', first_name=u'Mark', ssn=u'873-85-4598', occupation=u'Scientist, forensic', age=41), Row(last_name=u'Clark', first_name=u'Linda', ssn=u'841-82-4522', occupation=u'Phytotherapist', age=3), Row(last_name=u'Montoya', first_name=u'Tina', ssn=u'899-60-5436', occupation=u'Furniture designer', age=41), Row(last_name=u'Williams', first_name=u'Patricia', ssn=u'779-54-4635', occupation=u'Web designer', age=27), Row(last_name=u'Jackson', first_name=u'David', ssn=u'571-22-1560', occupation=u'Sports coach', age=4), Row(last_name=u'Jenkins', first_name=u'Elaine', ssn=u'071-64-4764', occupation=u'Doctor, general practice', age=19), Row(last_name=u'Ramirez', first_name=u'Tammy', ssn=u'467-94-4414', occupation=u'Engineer, structural', age=5), Row(last_name=u'Ball', first_name=u'Sandra', ssn=u'441-87-8090', occupation=u'Dance movement psychotherapist', age=13), Row(last_name=u'Rodriguez', first_name=u'Valerie', ssn=u'662-31-2283', occupation=u'Oceanographer', age=6), Row(last_name=u'Thompson', first_name=u'Cindy', ssn=u'763-02-8605', occupation=u'Engineer, chemical', age=5), Row(last_name=u'Vincent', first_name=u'Matthew', ssn=u'060-09-0452', occupation=u'Paramedic', age=39), Row(last_name=u'Clayton', first_name=u'Lisa', ssn=u'134-69-5123', occupation=u'Scientist, physiological', age=41), Row(last_name=u'Gomez', first_name=u'Michele', ssn=u'738-18-6576', occupation=u'Engineer, mining', age=26), Row(last_name=u'Brown', first_name=u'Jeremy', ssn=u'223-82-8835', occupation=u'Psychologist, clinical', age=3), Row(last_name=u'Nguyen', first_name=u'William', ssn=u'130-84-7722', occupation=u'Runner, broadcasting/film/video', age=39), Row(last_name=u'Davis', first_name=u'William', ssn=u'862-78-0166', occupation=u'Research officer, trade union', age=26), Row(last_name=u'Frost', first_name=u'Thomas', ssn=u'469-97-7213', occupation=u'Consulting civil engineer', age=45), Row(last_name=u'Woods', first_name=u'Elizabeth', ssn=u'864-11-4296', occupation=u'Herbalist', age=2), Row(last_name=u'Hernandez', first_name=u'Paul', ssn=u'030-83-3895', occupation=u'Radio producer', age=19), Row(last_name=u'Sanchez', first_name=u'Michele', ssn=u'402-49-9912', occupation=u'Pharmacologist', age=35), Row(last_name=u'Bush', first_name=u'Melissa', ssn=u'192-28-9339', occupation=u'Child psychotherapist', age=38), Row(last_name=u'Linda', first_name=u'Dr.', ssn=u'492-52-7526', occupation=u'TEFL teacher', age=35), Row(last_name=u'Cameron', first_name=u'Danielle', ssn=u'203-14-8171', occupation=u'Exercise physiologist', age=7), Row(last_name=u'Green', first_name=u'Dylan', ssn=u'360-24-1580', occupation=u'Chemist, analytical', age=24), Row(last_name=u'Williams', first_name=u'Thomas', ssn=u'811-21-2781', occupation=u'Best boy', age=37), Row(last_name=u'Taylor', first_name=u'Devon', ssn=u'218-03-8231', occupation=u'Microbiologist', age=21), Row(last_name=u'Mann', first_name=u'Tasha', ssn=u'180-16-0247', occupation=u'Therapist, speech and language', age=17), Row(last_name=u'Clayton', first_name=u'Paula', ssn=u'027-90-7296', occupation=u'Public house manager', age=2), Row(last_name=u'Wright', first_name=u'Jerome', ssn=u'476-74-0706', occupation=u'Immunologist', age=22), Row(last_name=u'Glass', first_name=u'Jeffrey', ssn=u'863-39-7238', occupation=u'Clinical molecular geneticist', age=20), Row(last_name=u'Huffman', first_name=u'Jennifer', ssn=u'040-37-5466', occupation=u'Editor, magazine features', age=34), Row(last_name=u'Henderson', first_name=u'Antonio', ssn=u'329-74-0432', occupation=u'Systems analyst', age=5), Row(last_name=u'Brown', first_name=u'Cody', ssn=u'021-20-5203', occupation=u'Petroleum engineer', age=25), Row(last_name=u'Jenkins', first_name=u'Rebecca', ssn=u'275-68-3283', occupation=u'Psychologist, educational', age=35), Row(last_name=u'Johnson', first_name=u'Thomas', ssn=u'216-45-5965', occupation=u'Teacher, music', age=6), Row(last_name=u'Long', first_name=u'Amanda', ssn=u'700-98-6332', occupation=u'Commercial art gallery manager', age=19), Row(last_name=u'Shannon', first_name=u'Edward', ssn=u'801-24-1683', occupation=u'Ranger/warden', age=42), Row(last_name=u'Chapman', first_name=u'Erin', ssn=u'141-37-0804', occupation=u'Radiation protection practitioner', age=15), Row(last_name=u'Morris', first_name=u'Katherine', ssn=u'444-30-7668', occupation=u'Broadcast engineer', age=7), Row(last_name=u'Knapp', first_name=u'Jason', ssn=u'618-45-1656', occupation=u'Accountant, chartered public finance', age=25), Row(last_name=u'Ballard', first_name=u'George', ssn=u'799-88-1365', occupation=u'Chartered management accountant', age=10), Row(last_name=u'Combs', first_name=u'Alan', ssn=u'040-40-6167', occupation=u'Embryologist, clinical', age=17), Row(last_name=u'Stone', first_name=u'Candace', ssn=u'673-73-1431', occupation=u'Biochemist, clinical', age=11), Row(last_name=u'Allison', first_name=u'Elizabeth', ssn=u'430-83-4257', occupation=u'Television camera operator', age=30), Row(last_name=u'Hayes', first_name=u'Matthew', ssn=u'028-15-3538', occupation=u'Administrator, education', age=8), Row(last_name=u'Hunter', first_name=u'Steven', ssn=u'584-30-6924', occupation=u'Scientist, product/process development', age=36), Row(last_name=u'Mathews', first_name=u'Katherine', ssn=u'891-83-5022', occupation=u'Mudlogger', age=43), Row(last_name=u'Henderson', first_name=u'Jake', ssn=u'310-85-1575', occupation=u'Media buyer', age=30), Row(last_name=u'Taylor', first_name=u'Richard', ssn=u'214-05-9321', occupation=u'Photographer', age=12), Row(last_name=u'Torres', first_name=u'Christopher', ssn=u'494-79-2980', occupation=u'Technical author', age=20), Row(last_name=u'Wilkinson', first_name=u'David', ssn=u'149-35-4850', occupation=u'Exhibition designer', age=19), Row(last_name=u'Schmidt', first_name=u'Daniel', ssn=u'270-78-5671', occupation=u'Broadcast presenter', age=27), Row(last_name=u'Hayes', first_name=u'John', ssn=u'336-26-5627', occupation=u'Engineer, site', age=28), Row(last_name=u'Thomas', first_name=u'Charles', ssn=u'762-33-5114', occupation=u'Scientist, product/process development', age=23), Row(last_name=u'Smith', first_name=u'Melissa', ssn=u'249-80-6226', occupation=u'Ergonomist', age=24), Row(last_name=u'Reynolds', first_name=u'Erica', ssn=u'682-73-2063', occupation=u'Conservator, museum/gallery', age=7), Row(last_name=u'Cooke', first_name=u'Kevin', ssn=u'357-65-2352', occupation=u'Chemist, analytical', age=27), Row(last_name=u'Lopez', first_name=u'Holly', ssn=u'331-03-1024', occupation=u'Administrator, sports', age=38), Row(last_name=u'Gonzalez', first_name=u'Tracy', ssn=u'202-88-5765', occupation=u'Retail banker', age=43), Row(last_name=u'Rosales', first_name=u'Pamela', ssn=u'391-64-8825', occupation=u'Arts administrator', age=2), Row(last_name=u'Jennings', first_name=u'Kimberly', ssn=u'741-25-3183', occupation=u'Insurance risk surveyor', age=19), Row(last_name=u'Thompson', first_name=u'Faith', ssn=u'325-59-7759', occupation=u'Estate agent', age=11), Row(last_name=u'Mendez', first_name=u'Jason', ssn=u'804-20-9778', occupation=u'Volunteer coordinator', age=8), Row(last_name=u'Williamson', first_name=u'Peter', ssn=u'048-39-2832', occupation=u'Clinical scientist, histocompatibility and immunogenetics', age=30), Row(last_name=u'Lewis', first_name=u'Victoria', ssn=u'301-47-9178', occupation=u'Scientist, clinical (histocompatibility and immunogenetics)', age=20), Row(last_name=u'Maynard', first_name=u'Traci', ssn=u'245-60-6853', occupation=u'Biochemist, clinical', age=31), Row(last_name=u'Hall', first_name=u'Alfred', ssn=u'511-12-4216', occupation=u'Product/process development scientist', age=41), Row(last_name=u'Medina', first_name=u'Taylor', ssn=u'882-27-6869', occupation=u'Merchant navy officer', age=11), Row(last_name=u'Walton', first_name=u'Gabriel', ssn=u'440-34-1319', occupation=u'Historic buildings inspector/conservation officer', age=10), Row(last_name=u'Jones', first_name=u'Rebecca', ssn=u'674-05-6376', occupation=u'Programmer, multimedia', age=45), Row(last_name=u'Cohen', first_name=u'Lydia', ssn=u'852-76-2240', occupation=u'Educational psychologist', age=45), Row(last_name=u'Torres', first_name=u'Cody', ssn=u'405-05-0687', occupation=u'Armed forces logistics/support/administrative officer', age=44), Row(last_name=u'Melton', first_name=u'Robin', ssn=u'311-83-8382', occupation=u'Health visitor', age=21), Row(last_name=u'King', first_name=u'Anthony', ssn=u'083-92-9584', occupation=u'Energy manager', age=5), Row(last_name=u'Ross', first_name=u'Michelle', ssn=u'521-44-0744', occupation=u'TEFL teacher', age=29), Row(last_name=u'Hill', first_name=u'Eric', ssn=u'899-61-6918', occupation=u'Maintenance engineer', age=2), Row(last_name=u'Miller', first_name=u'Christine', ssn=u'248-11-9706', occupation=u'Public relations account executive', age=41), Row(last_name=u'Gonzalez', first_name=u'Jim', ssn=u'717-64-0553', occupation=u'Television/film/video producer', age=20), Row(last_name=u'Hernandez', first_name=u'Misty', ssn=u'070-05-2754', occupation=u'Psychologist, counselling', age=38), Row(last_name=u'Dixon', first_name=u'Brandon', ssn=u'003-17-0648', occupation=u'Art gallery manager', age=42), Row(last_name=u'Reed', first_name=u'Alexander', ssn=u'649-03-8292', occupation=u'Human resources officer', age=45), Row(last_name=u'Victor', first_name=u'Mr.', ssn=u'307-36-3457', occupation=u'Engineer, electronics', age=21), Row(last_name=u'Holmes', first_name=u'John', ssn=u'045-58-9521', occupation=u'Personnel officer', age=16), Row(last_name=u'Peterson', first_name=u'Amanda', ssn=u'662-80-6804', occupation=u'Mechanical engineer', age=4), Row(last_name=u'Harrison', first_name=u'Cody', ssn=u'515-72-0861', occupation=u'Scientist, research (physical sciences)', age=26), Row(last_name=u'Williams', first_name=u'Kimberly', ssn=u'067-37-8975', occupation=u'Telecommunications researcher', age=10), Row(last_name=u'Anderson', first_name=u'Tanya', ssn=u'670-70-8625', occupation=u'Engineer, chemical', age=38), Row(last_name=u'Lawrence', first_name=u'Lisa', ssn=u'797-64-8348', occupation=u'Armed forces training and education officer', age=15), Row(last_name=u'Hess', first_name=u'Dominic', ssn=u'369-62-5327', occupation=u'Programmer, applications', age=34), Row(last_name=u'Baker', first_name=u'Nancy', ssn=u'477-43-2955', occupation=u'Leisure centre manager', age=30), Row(last_name=u'Holmes', first_name=u'Jessica', ssn=u'561-64-1791', occupation=u'Community development worker', age=35), Row(last_name=u'Cook', first_name=u'Jose', ssn=u'226-65-6128', occupation=u'Data processing manager', age=23), Row(last_name=u'Castro', first_name=u'Joseph', ssn=u'262-16-4562', occupation=u'Clinical biochemist', age=28), Row(last_name=u'Castaneda', first_name=u'Lauren', ssn=u'707-99-4032', occupation=u'Oceanographer', age=5), Row(last_name=u'Lopez', first_

<H3>A better way to visualize the data is to use the 'show' method.</H3>

In [24]:
subDF.show()

+----------+----------+-----------+--------------------+---+
| last_name|first_name|        ssn|          occupation|age|
+----------+----------+-----------+--------------------+---+
|    Harvey|    Tracey|160-37-9051|Agricultural engi...| 38|
|     Green|    Isabel|361-94-4342|Teacher, primary ...| 26|
|     Lewis|     Tammy|769-27-5887|Scientific labora...| 20|
|Cunningham|  Kathleen|175-24-7915|Geophysicist/fiel...| 41|
|   Marquez|     Jorge|310-69-7326|Forensic psycholo...| 25|
|   Summers|      Beth|099-90-9730|            Best boy| 42|
|   Jessica|      Mrs.|476-06-5497|English as a fore...| 42|
|    Turner|     Diana|722-09-8354|Psychologist, pri...|  6|
|   Johnson|     David|715-56-1708|     Sales executive|  5|
|     Lewis|   Melissa|123-48-8354|Engineer, broadca...| 16|
| Hernandez|  Benjamin|293-22-0265|Scientist, produc...| 28|
|     Dixon| Stephanie|041-23-3263|Building control ...| 23|
|       Kim|      Leah|725-61-1132|              Artist| 42|
|    Snyder|    Leslie|268-79-4330|        Chiropractor| 14|
|    Ortega|    Joseph|077-96-8349|  Surveyor, minerals| 15|
|    Barnes|     Brian|061-88-1648|Production assist...| 32|
|     Adams|      Eric|582-28-0099|Manufacturing sys...| 11|
|   Andrade|    Briana|386-07-6013|Social research o...|  6|
|     Weeks| Catherine|363-94-7993|Administrator, ed...| 41|
|     Tapia|   Michael|386-39-5490|Horticulturist, c...| 10|
+----------+----------+-----------+--------------------+---+
only showing top 20 rows

<H3>By default 'show' displays 20 rows. If you don't want to truncate the data, you can tell it not to.</H3>

In [25]:
subDF.show(n=30, truncate=False)

+----------+----------+-----------+-------------------------------------------+---+
|last_name |first_name|ssn        |occupation                                 |age|
+----------+----------+-----------+-------------------------------------------+---+
|Harvey    |Tracey    |160-37-9051|Agricultural engineer                      |38 |
|Green     |Isabel    |361-94-4342|Teacher, primary school                    |26 |
|Lewis     |Tammy     |769-27-5887|Scientific laboratory technician           |20 |
|Cunningham|Kathleen  |175-24-7915|Geophysicist/field seismologist            |41 |
|Marquez   |Jorge     |310-69-7326|Forensic psychologist                      |25 |
|Summers   |Beth      |099-90-9730|Best boy                                   |42 |
|Jessica   |Mrs.      |476-06-5497|English as a foreign language teacher      |42 |
|Turner    |Diana     |722-09-8354|Psychologist, prison and probation services|6  |
|Johnson   |David     |715-56-1708|Sales executive                            |5  |
|Lewis     |Melissa   |123-48-8354|Engineer, broadcasting (operations)        |16 |
|Hernandez |Benjamin  |293-22-0265|Scientist, product/process development     |28 |
|Dixon     |Stephanie |041-23-3263|Building control surveyor                  |23 |
|Kim       |Leah      |725-61-1132|Artist                                     |42 |
|Snyder    |Leslie    |268-79-4330|Chiropractor                               |14 |
|Ortega    |Joseph    |077-96-8349|Surveyor, minerals                         |15 |
|Barnes    |Brian     |061-88-1648|Production assistant, television           |32 |
|Adams     |Eric      |582-28-0099|Manufacturing systems engineer             |11 |
|Andrade   |Briana    |386-07-6013|Social research officer, government        |6  |
|Weeks     |Catherine |363-94-7993|Administrator, education                   |41 |
|Tapia     |Michael   |386-39-5490|Horticulturist, commercial                 |10 |
|Arnold    |Heather   |737-44-0894|Economist                                  |7  |
|Bird      |Curtis    |790-03-8999|Psychotherapist                            |26 |
|Delgado   |Megan     |789-24-6522|Therapist, drama                           |33 |
|Rojas     |Thomas    |702-94-4924|Press sub                                  |39 |
|Love      |George    |117-61-4564|Music tutor                                |14 |
|Gardner   |Charles   |695-93-4517|Conference centre manager                  |34 |
|Walker    |Danielle  |164-14-5236|Scientist, water quality                   |41 |
|Dunn      |Joshua    |452-74-5757|Clinical embryologist                      |13 |
|Scott     |Jeremy    |669-41-6318|Surveyor, insurance                        |30 |
|James     |Max       |890-73-1947|Hotel manager                              |18 |
+----------+----------+-----------+-------------------------------------------+---+
only showing top 30 rows

<H3>Use count to get total.</H3>

In [26]:
print dataDF.count()
print subDF.count()

10000
10000

<H3>Apply transformation filter and view results with collect.</H3>

In [27]:
filteredDF = subDF.filter(subDF.age < 10)
filteredDF.show(truncate=False)
filteredDF.count()

+---------+----------+-----------+-------------------------------------------+---+
|last_name|first_name|ssn        |occupation                                 |age|
+---------+----------+-----------+-------------------------------------------+---+
|Turner   |Diana     |722-09-8354|Psychologist, prison and probation services|6  |
|Johnson  |David     |715-56-1708|Sales executive                            |5  |
|Andrade  |Briana    |386-07-6013|Social research officer, government        |6  |
|Arnold   |Heather   |737-44-0894|Economist                                  |7  |
|Troy     |Mr.       |363-83-5358|Hotel manager                              |8  |
|Kelly    |Tracy     |082-13-6448|Architectural technologist                 |8  |
|Jones    |Michelle  |412-91-9340|Engineer, drilling                         |1  |
|Church   |David     |370-59-5122|Museum education officer                   |6  |
|Olson    |Melissa   |209-27-9609|Surveyor, hydrographic                     |1  |
|Jones    |Anne      |824-64-4586|Operational researcher                     |3  |
|Harris   |Carla     |097-46-3461|Higher education careers adviser           |5  |
|Wyatt    |Alicia    |188-35-0575|Structural engineer                        |3  |
|Clark    |Linda     |841-82-4522|Phytotherapist                             |3  |
|Jackson  |David     |571-22-1560|Sports coach                               |4  |
|Ramirez  |Tammy     |467-94-4414|Engineer, structural                       |5  |
|Rodriguez|Valerie   |662-31-2283|Oceanographer                              |6  |
|Thompson |Cindy     |763-02-8605|Engineer, chemical                         |5  |
|Brown    |Jeremy    |223-82-8835|Psychologist, clinical                     |3  |
|Woods    |Elizabeth |864-11-4296|Herbalist                                  |2  |
|Cameron  |Danielle  |203-14-8171|Exercise physiologist                      |7  |
+---------+----------+-----------+-------------------------------------------+---+
only showing top 20 rows

2055

<H3>Python Lambda functions and User Defined Functions.</H3>

In [28]:
from pyspark.sql.types import BooleanType
from pyspark.sql.functions import udf
less_ten = udf(lambda s: s < 10, BooleanType())
lambdaDF = subDF.filter(less_ten(subDF.age))
lambdaDF.show()
lambdaDF.count()

+---------+----------+-----------+--------------------+---+
|last_name|first_name|        ssn|          occupation|age|
+---------+----------+-----------+--------------------+---+
|   Turner|     Diana|722-09-8354|Psychologist, pri...|  6|
|  Johnson|     David|715-56-1708|     Sales executive|  5|
|  Andrade|    Briana|386-07-6013|Social research o...|  6|
|   Arnold|   Heather|737-44-0894|           Economist|  7|
|     Troy|       Mr.|363-83-5358|       Hotel manager|  8|
|    Kelly|     Tracy|082-13-6448|Architectural tec...|  8|
|    Jones|  Michelle|412-91-9340|  Engineer, drilling|  1|
|   Church|     David|370-59-5122|Museum education ...|  6|
|    Olson|   Melissa|209-27-9609|Surveyor, hydrogr...|  1|
|    Jones|      Anne|824-64-4586|Operational resea...|  3|
|   Harris|     Carla|097-46-3461|Higher education ...|  5|
|    Wyatt|    Alicia|188-35-0575| Structural engineer|  3|
|    Clark|     Linda|841-82-4522|      Phytotherapist|  3|
|  Jackson|     David|571-22-1560|        Sports coach|  4|
|  Ramirez|     Tammy|467-94-4414|Engineer, structural|  5|
|Rodriguez|   Valerie|662-31-2283|       Oceanographer|  6|
| Thompson|     Cindy|763-02-8605|  Engineer, chemical|  5|
|    Brown|    Jeremy|223-82-8835|Psychologist, cli...|  3|
|    Woods| Elizabeth|864-11-4296|           Herbalist|  2|
|  Cameron|  Danielle|203-14-8171|Exercise physiolo...|  7|
+---------+----------+-----------+--------------------+---+
only showing top 20 rows

2055

<H3>Let's collect the even values less than 10.</H3>

In [29]:
even = udf(lambda s: s % 2 == 0, BooleanType())
evenDF = lambdaDF.filter(even(lambdaDF.age))
evenDF.show()
evenDF.count()

+---------+----------+-----------+--------------------+---+
|last_name|first_name|        ssn|          occupation|age|
+---------+----------+-----------+--------------------+---+
|   Turner|     Diana|722-09-8354|Psychologist, pri...|  6|
|  Andrade|    Briana|386-07-6013|Social research o...|  6|
|     Troy|       Mr.|363-83-5358|       Hotel manager|  8|
|    Kelly|     Tracy|082-13-6448|Architectural tec...|  8|
|   Church|     David|370-59-5122|Museum education ...|  6|
|  Jackson|     David|571-22-1560|        Sports coach|  4|
|Rodriguez|   Valerie|662-31-2283|       Oceanographer|  6|
|    Woods| Elizabeth|864-11-4296|           Herbalist|  2|
|  Clayton|     Paula|027-90-7296|Public house manager|  2|
|  Johnson|    Thomas|216-45-5965|      Teacher, music|  6|
|    Hayes|   Matthew|028-15-3538|Administrator, ed...|  8|
|  Rosales|    Pamela|391-64-8825|  Arts administrator|  2|
|   Mendez|     Jason|804-20-9778|Volunteer coordin...|  8|
|     Hill|      Eric|899-61-6918|Maintenance engineer|  2|
| Peterson|    Amanda|662-80-6804| Mechanical engineer|  4|
|      Fry| Charlotte|418-43-3513|Teacher, special ...|  2|
|   Morton|  Jennifer|250-30-1615|     Charity officer|  2|
|     Mann|    Ashley|463-20-3935|    Technical author|  0|
|     Rice| Cassandra|274-97-8264|Administrator, ch...|  2|
|   Nguyen| Cassandra|044-61-5231|Surveyor, land/ge...|  0|
+---------+----------+-----------+--------------------+---+
only showing top 20 rows

1003

<H3>Let's look at the first few entries to obtain a rough idea of what information is available.</H3>

In [30]:
print "first: {0}\n".format(filteredDF.first())
print "Four of them: {0}\n".format(filteredDF.take(4))

first: Row(last_name=u'Turner', first_name=u'Diana', ssn=u'722-09-8354', occupation=u'Psychologist, prison and probation services', age=6)

Four of them: [Row(last_name=u'Turner', first_name=u'Diana', ssn=u'722-09-8354', occupation=u'Psychologist, prison and probation services', age=6), Row(last_name=u'Johnson', first_name=u'David', ssn=u'715-56-1708', occupation=u'Sales executive', age=5), Row(last_name=u'Andrade', first_name=u'Briana', ssn=u'386-07-6013', occupation=u'Social research officer, government', age=6), Row(last_name=u'Arnold', first_name=u'Heather', ssn=u'737-44-0894', occupation=u'Economist', age=7)]

<H3>This looks better.</H3>

In [31]:
filteredDF.show(4)

+---------+----------+-----------+--------------------+---+
|last_name|first_name|        ssn|          occupation|age|
+---------+----------+-----------+--------------------+---+
|   Turner|     Diana|722-09-8354|Psychologist, pri...|  6|
|  Johnson|     David|715-56-1708|     Sales executive|  5|
|  Andrade|    Briana|386-07-6013|Social research o...|  6|
|   Arnold|   Heather|737-44-0894|           Economist|  7|
+---------+----------+-----------+--------------------+---+
only showing top 4 rows

<H3>Get the five oldest people in the list. To do that, sort by age in descending order.</H3>

In [32]:
dataDF.orderBy(dataDF.age.desc()).take(5)

[Row(last_name=u'Smith', first_name=u'Jessica', ssn=u'371-59-8543', occupation=u'Medical physicist', age=47),
 Row(last_name=u'Blankenship', first_name=u'Crystal', ssn=u'341-29-9523', occupation=u'Commercial/residential surveyor', age=47),
 Row(last_name=u'Meyer', first_name=u'Christine', ssn=u'803-59-5869', occupation=u'Early years teacher', age=47),
 Row(last_name=u'George', first_name=u'Wesley', ssn=u'622-72-1540', occupation=u'Therapist, art', age=47),
 Row(last_name=u'Davila', first_name=u'Steven', ssn=u'479-63-8770', occupation=u'Purchasing manager', age=47)]

In [33]:
dataDF.orderBy(dataDF.age.desc()).show(5)

+-----------+----------+-----------+--------------------+---+
|  last_name|first_name|        ssn|          occupation|age|
+-----------+----------+-----------+--------------------+---+
|      Smith|   Jessica|371-59-8543|   Medical physicist| 47|
|      Kelly|    Rachel|241-07-8262|Loss adjuster, ch...| 47|
|Blankenship|   Crystal|341-29-9523|Commercial/reside...| 47|
|      Meyer| Christine|803-59-5869| Early years teacher| 47|
|     George|    Wesley|622-72-1540|      Therapist, art| 47|
+-----------+----------+-----------+--------------------+---+
only showing top 5 rows

<H3>Let's reverse the sort order</H3>

In [34]:
dataDF.orderBy('age').show(5)

+---------+----------+-----------+--------------------+---+
|last_name|first_name|        ssn|          occupation|age|
+---------+----------+-----------+--------------------+---+
|   Harmon|  Charlene|633-88-8219|Geneticist, molec...|  1|
|Velasquez|  Margaret|197-26-4433|        Cartographer|  1|
|      Cox|   Melanie|844-43-5712|Nurse, learning d...|  1|
|   Hardin|  Benjamin|051-85-9778|  Engineer, drilling|  1|
|   Wright|   Gregory|482-67-9269|           Mudlogger|  1|
+---------+----------+-----------+--------------------+---+
only showing top 5 rows

<H3>Distinct and drop duplicates.</H3>

In [35]:
print dataDF.count()
print dataDF.distinct().count()

10000
10000

<H3>To demonstrate 'distinct', let's create a quick throwaway dataset.</H3>

In [36]:
tempDF = sqlContext.createDataFrame([("Joe", 1), ("Joe", 1), ("Anna", 15), ("Anna", 12), ("Ravi", 5)], ('name', 'score'))

In [37]:
tempDF.show()

+----+-----+
|name|score|
+----+-----+
| Joe|    1|
| Joe|    1|
|Anna|   15|
|Anna|   12|
|Ravi|    5|
+----+-----+

In [38]:
tempDF.distinct().show()

+----+-----+
|name|score|
+----+-----+
|Ravi|    5|
|Anna|   12|
|Anna|   15|
| Joe|    1|
+----+-----+

In [39]:
print dataDF.count()
print dataDF.dropDuplicates(['first_name', 'last_name']).count()

10000
9360

<H3>If we want to drop certain columns instead of selecting certain, we should use 'drop'.</H3>

In [40]:
dataDF.drop('occupation').drop('age').show()

+----------+----------+-----------+
| last_name|first_name|        ssn|
+----------+----------+-----------+
|    Harvey|    Tracey|160-37-9051|
|     Green|    Isabel|361-94-4342|
|     Lewis|     Tammy|769-27-5887|
|Cunningham|  Kathleen|175-24-7915|
|   Marquez|     Jorge|310-69-7326|
|   Summers|      Beth|099-90-9730|
|   Jessica|      Mrs.|476-06-5497|
|    Turner|     Diana|722-09-8354|
|   Johnson|     David|715-56-1708|
|     Lewis|   Melissa|123-48-8354|
| Hernandez|  Benjamin|293-22-0265|
|     Dixon| Stephanie|041-23-3263|
|       Kim|      Leah|725-61-1132|
|    Snyder|    Leslie|268-79-4330|
|    Ortega|    Joseph|077-96-8349|
|    Barnes|     Brian|061-88-1648|
|     Adams|      Eric|582-28-0099|
|   Andrade|    Briana|386-07-6013|
|     Weeks| Catherine|363-94-7993|
|     Tapia|   Michael|386-39-5490|
+----------+----------+-----------+
only showing top 20 rows

<H3>The transformation 'groupBy' allows you to perform aggregations on a DataFrame.</H3>
<H4>Unlike other DataFrame transformations, 'groupBy' does not return a DataFrame. Instead, it returns a special GroupedData object that contains various aggregation functions</H4>

In [41]:
dataDF.groupBy('occupation').count().show(truncate=False)

+------------------------------------+-----+
|occupation                          |count|
+------------------------------------+-----+
|Agricultural engineer               |9    |
|Operational researcher              |17   |
|Textile designer                    |11   |
|Public relations officer            |20   |
|Politician's assistant              |11   |
|Personal assistant                  |11   |
|Hotel manager                       |15   |
|Engineer, materials                 |23   |
|Waste management officer            |18   |
|Counselling psychologist            |16   |
|Geoscientist                        |18   |
|Therapist, music                    |19   |
|Outdoor activities/education manager|15   |
|Physiological scientist             |7    |
|Housing manager/officer             |8    |
|Theatre stage manager               |16   |
|Programmer, systems                 |14   |
|Fitness centre manager              |16   |
|Fish farm manager                   |12   |
|Musician                            |16   |
+------------------------------------+-----+
only showing top 20 rows

In [42]:
dataDF.groupBy().avg('age').show(truncate=False)

+--------+
|avg(age)|
+--------+
|24.4669 |
+--------+

In [43]:
print "Maximum age: {0}".format(dataDF.groupBy().max('age').first()[0])
print "Minimum age: {0}".format(dataDF.groupBy().min('age').first()[0])

Maximum age: 47
Minimum age: 1

<H3>Sample returns a new DataFrame with a random sample of elements from the dataset.</H3>

In [44]:
sampledDF = dataDF.sample(withReplacement=False, fraction=0.10)
print sampledDF.count()
sampledDF.show()

946
+----------+----------+-----------+--------------------+---+
| last_name|first_name|        ssn|          occupation|age|
+----------+----------+-----------+--------------------+---+
|Cunningham|  Kathleen|175-24-7915|Geophysicist/fiel...| 42|
|   Summers|      Beth|099-90-9730|            Best boy| 43|
|    Barnes|     Brian|061-88-1648|Production assist...| 33|
|    Arnold|   Heather|737-44-0894|           Economist|  8|
|     Rojas|    Thomas|702-94-4924|           Press sub| 40|
|      Todd|      Cody|292-28-5631|Biomedical scientist| 46|
|   Chapman|   Chelsea|667-49-0913|Television produc...| 28|
|      Beck|     Bryan|665-91-5669| Production engineer| 11|
|     Smith|   Patrick|025-39-2755|    Financial trader| 39|
|     Salas| Elizabeth|376-51-7310|Designer, ceramic...| 21|
|      Buck|     Craig|227-70-6222| Engineer, materials| 23|
|      Pena|    Morgan|361-09-0070|Customer service ...| 33|
|    Carter|      Mark|873-85-4598| Scientist, forensic| 42|
|      Mann|     Tasha|180-16-0247|Therapist, speech...| 18|
|     Glass|   Jeffrey|863-39-7238|Clinical molecula...| 21|
|     Smith|   Melissa|249-80-6226|          Ergonomist| 25|
|  Thompson|     Faith|325-59-7759|        Estate agent| 12|
|    Melton|     Robin|311-83-8382|      Health visitor| 22|
|      Hill|      Eric|899-61-6918|Maintenance engineer|  3|
|  Peterson|    Amanda|662-80-6804| Mechanical engineer|  5|
+----------+----------+-----------+--------------------+---+
only showing top 20 rows

In [45]:
print dataDF.sample(withReplacement=False, fraction=0.05).count()

515

<H3>Caching DataFrames</H3>

In [46]:
filteredDF.cache()
print filteredDF.count()
print filteredDF.is_cached

2055
True

<H3>If we are done with the DataFrame we can unpersist it so that its memory can be reclaimed.</H3>

In [47]:
filteredDF.unpersist()
print filteredDF.is_cached

False

<H3>Use lambda functions instead of separately defined functions when their use improves readability and conciseness.</H3>

In [48]:
myUDF = udf(lambda v: v < 10)
subDF.filter(myUDF(subDF.age) == True)

DataFrame[last_name: string, first_name: string, ssn: string, occupation: string, age: bigint]

<H3>To make the expert coding style more readable, enclose the statement in parentheses and put each method, transformation, or action on a separate line.</H3>

In [49]:
from pyspark.sql.functions import *
(dataDF
 .filter(dataDF.age > 20)
 .select(concat(dataDF.first_name, lit(' '), dataDF.last_name), dataDF.occupation)
 .show(truncate=False)
 )

+------------------------------+--------------------------------------+
|concat(first_name, ,last_name)|occupation                            |
+------------------------------+--------------------------------------+
|Tracey Harvey                 |Agricultural engineer                 |
|Isabel Green                  |Teacher, primary school               |
|Tammy Lewis                   |Scientific laboratory technician      |
|Kathleen Cunningham           |Geophysicist/field seismologist       |
|Jorge Marquez                 |Forensic psychologist                 |
|Beth Summers                  |Best boy                              |
|Mrs. Jessica                  |English as a foreign language teacher |
|Benjamin Hernandez            |Scientist, product/process development|
|Stephanie Dixon               |Building control surveyor             |
|Leah Kim                      |Artist                                |
|Brian Barnes                  |Production assistant, television      |
|Catherine Weeks               |Administrator, education              |
|Curtis Bird                   |Psychotherapist                       |
|Megan Delgado                 |Therapist, drama                      |
|Thomas Rojas                  |Press sub                             |
|Charles Gardner               |Conference centre manager             |
|Danielle Walker               |Scientist, water quality              |
|Jeremy Scott                  |Surveyor, insurance                   |
|Cody Todd                     |Biomedical scientist                  |
|Lisa Vasquez                  |Estate manager/land agent             |
+------------------------------+--------------------------------------+
only showing top 20 rows

<H2>Lab 1</H2>

<H3>We'll start by generating a base DataFrame by using a Python list of tuples and the sqlContext.createDataFrame method.</H3>

In [50]:
wordsDF = sqlContext.createDataFrame([('cat',), ('elephant',), ('rat',), ('rat',), ('cat', )], ['word'])
wordsDF.show()
print type(wordsDF)
wordsDF.printSchema()

+--------+
|    word|
+--------+
|     cat|
|elephant|
|     rat|
|     rat|
|     cat|
+--------+

<class 'pyspark.sql.dataframe.DataFrame'>
root
 |-- word: string (nullable = true)

<H3>Use Data-Frame functions to add an 's'.</H3>

In [51]:
from pyspark.sql.functions import lit, concat, col

pluralDF = wordsDF.select(concat("word",lit("s")).alias("word"))
pluralDF.show()

+---------+
|     word|
+---------+
|     cats|
|elephants|
|     rats|
|     rats|
|     cats|
+---------+

<H3>Find the number of characters in each word.</H3>

In [52]:
from pyspark.sql.functions import length

pluralLengthsDF = pluralDF.withColumn('word', length(pluralDF.word))
pluralLengthsDF.show()

+----+
|word|
+----+
|   4|
|   9|
|   4|
|   4|
|   4|
+----+

<H3>Print all the dataframes and their column names</H3>

In [53]:
from spark_notebook_helpers import printDataFrames

printDataFrames(True)

df: ['name', 'age']
sampledDF: ['last_name', 'first_name', 'ssn', 'occupation', 'age']
filteredDF: ['last_name', 'first_name', 'ssn', 'occupation', 'age']
tempDF: ['name', 'score']
wordsDF: ['word']
newDF: ['last_name', 'first_name', 'ssn', 'occupation', 'age']
evenDF: ['last_name', 'first_name', 'ssn', 'occupation', 'age']
subDF: ['last_name', 'first_name', 'ssn', 'occupation', 'age']
dataDF: ['last_name', 'first_name', 'ssn', 'occupation', 'age']
lambdaDF: ['last_name', 'first_name', 'ssn', 'occupation', 'age']
pluralLengthsDF: ['word']
pluralDF: ['word']

<H3>Find the counts of words.</H3>

In [54]:
wordCountsDF = (wordsDF.groupBy('word').count())
wordCountsDF.show()

+--------+-----+
|    word|count|
+--------+-----+
|     cat|    2|
|     rat|    2|
|elephant|    1|
+--------+-----+

<H3>Find the mean number of occurrences of words in wordCountsDF.</H3>

In [55]:
averageCount = wordCountsDF.groupBy().avg('count').collect()[0][0]
print averageCount

1.66666666667

<H3>Define a function for word counting.</H3>
<H4>This function should take in a DataFrame that is a list of words like wordsDF and return a DataFrame that has all of the words and their associated counts.</H4>

In [56]:
def wordCount(wordListDF):
    return (wordListDF.groupBy('word').count())
wordCount(wordsDF).show()

+--------+-----+
|    word|count|
+--------+-----+
|     cat|    2|
|     rat|    2|
|elephant|    1|
+--------+-----+

<H3>Define a function that converts all text to lower case, removes punctuation, and removes leading and trailing spaces.</H3>

In [57]:
sentenceDF = sqlContext.createDataFrame([('Hi, you!',),
                                         (' No under_score!',),
                                         (' *      Remove punctuation then spaces  * ',)], ['sentence'])
sentenceDF.show(truncate=False)

+------------------------------------------+
|sentence                                  |
+------------------------------------------+
|Hi, you!                                  |
| No under_score!                          |
| *      Remove punctuation then spaces  * |
+------------------------------------------+

In [58]:
from pyspark.sql.functions import regexp_replace, trim, col, lower

def removePunctuation(column):
    return (trim(regexp_replace(lower(column), '[^0-9a-zA-Z ]', '')))

In [59]:
sentenceDF.show(truncate=False)
(sentenceDF
 .select(removePunctuation(col('sentence')))
 .show(truncate=False))

+------------------------------------------+
|sentence                                  |
+------------------------------------------+
|Hi, you!                                  |
| No under_score!                          |
| *      Remove punctuation then spaces  * |
+------------------------------------------+

+----------------------------------------------------+
|trim(regexp_replace(lower(sentence),[^0-9a-zA-Z ],))|
+----------------------------------------------------+
|hi you                                              |
|no underscore                                       |
|remove punctuation then spaces                      |
+----------------------------------------------------+

In [60]:
testPunctDF = sqlContext.createDataFrame([(" The Elephant's 4 cats. ",)])
testPunctDF.select(removePunctuation(col('_1'))).show()

+----------------------------------------------+
|trim(regexp_replace(lower(_1),[^0-9a-zA-Z ],))|
+----------------------------------------------+
|                          the elephants 4 cats|
+----------------------------------------------+

<H3>Apply the function to the text file containing Shakespeare's works</H3>

In [61]:
fileName = 'Datasets/pg100.txt'

shakespeareDF = sqlContext.read.text(fileName).select(removePunctuation(col('value')).alias('value'))
shakespeareDF.show(15, truncate=False)

+---------------------------------------------------------------------------+
|value                                                                      |
+---------------------------------------------------------------------------+
|the project gutenberg ebook of the complete works of william shakespeare by|
|william shakespeare                                                        |
|                                                                           |
|this ebook is for the use of anyone anywhere at no cost and with           |
|almost no restrictions whatsoever  you may copy it give it away or         |
|reuse it under the terms of the project gutenberg license included         |
|with this ebook or online at wwwgutenbergorg                               |
|                                                                           |
|this is a copyrighted project gutenberg ebook details below                |
|please follow the copyright guidelines in this file                        |
|                                                                           |
|title the complete works of william shakespeare                            |
|                                                                           |
|author william shakespeare                                                 |
|                                                                           |
+---------------------------------------------------------------------------+
only showing top 15 rows

<H3>Words from lines</H3>
<H4>Apply a transformation that will split each 'sentence' in the DataFrame by its spaces and return a DataFrame with each word in its row</H4>

In [74]:
from pyspark.sql.functions import split, explode
from pyspark.sql.functions import udf

shakeWordsDF = shakespeareDF.select(explode(split(shakespeareDF.value, " ").alias('word')).alias('word'))
null_value = udf(lambda s: len(s)!=0, BooleanType())
shakeWordsDF = shakeWordsDF.filter(null_value(shakeWordsDF.word))

In [69]:
shakeWordsDF.show()
shakeWordsDFCount = shakeWordsDF.count()
print shakeWordsDFCount

+-----------+
|       word|
+-----------+
|        the|
|    project|
|  gutenberg|
|      ebook|
|         of|
|        the|
|   complete|
|      works|
|         of|
|    william|
|shakespeare|
|         by|
|    william|
|shakespeare|
|       this|
|      ebook|
|         is|
|        for|
|        the|
|        use|
+-----------+
only showing top 20 rows

903705

<H3>Count the words and find top 15 frequent words</H3>

In [70]:
from pyspark.sql.functions import desc

topWordsAndCountsDF = shakeWordsDF.groupby('word').count().withColumnRenamed('count', 'counts')
topWordsAndCountsDF = topWordsAndCountsDF.orderBy(topWordsAndCountsDF.counts.desc())

In [71]:
topWordsAndCountsDF.show(15)

+----+------+
|word|counts|
+----+------+
| the| 27825|
| and| 26791|
|   i| 20681|
|  to| 19261|
|  of| 18289|
|   a| 14667|
| you| 13716|
|  my| 12481|
|that| 11135|
|  in| 11027|
|  is|  9621|
| not|  8745|
| for|  8261|
|with|  8046|
|  me|  7769|
+----+------+
only showing top 15 rows